$background-color: #F2F2F4;
$grey-txt:#868688;
$black-txt:#1F1F22;
$blue-txt:#2E6FF2;  
$bottom-border:#E5E5E7;
$button-photo:#ffffffcc;
$background-text-blue:#DBEAFE;
$blue-text-info:#3B82F6;
$black-text: #000000;