.header{
  max-width: 64rem;
  margin: 0 auto 1.375rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $bottom-border;

  @media (max-width: 832px) {
    margin: 0 0 2.875rem 0;
  }

  .wrapper_logo-burger {
    display: flex;

    @media (max-width: 832px) {
      width: 100%;
      justify-content: space-between;
      gap: 4.5rem;
    }

    .logo {
      width: 13.75rem;
      height: 3.5rem;
      background: $background-color;

      @media (max-width: 432px) {
        min-width: 10.25rem;
        height: 3.25rem;
      }
    }

    .burger_button {
      display: none;
    }

    .burger_button {
      padding: 0.875rem;
      border: 1px solid $black-txt;
      border-radius: 0.5rem;
      cursor: pointer;

      @media (max-width: 832px) {
        display: block;
      }
    }
  }

  .wrapper_logo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    @media (max-width: 832px) {
      display: none;
    }

    .grey {
      color: $grey-txt;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: $blue-txt;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
      }
    }

    .big_text {
      padding: 0.875rem 1.5rem;
      border: 1px solid $black-txt;
      color: $black-txt;
      border-radius: 0.5rem;
    }
  }
}