.header_container{
  max-width: 64rem;
  margin: 0 auto 22px ;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid #E5E5E7 ;

}

.logo{
  width:220px ;
  height: 51px;
  background: var(--bc);
}

.wrapper_logo{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

@media(max-width:832px){
.wrapper_logo{
  display: none;
}
}

.logo_text{
  color: var(--txt-grey);
  font-size: 16px;
}
.logo_text:hover{
  color: var(--primary);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.big_text{
  padding: 14px 24px;
  border: 1px solid var(--txt-black);
  color: var(--txt-black);
  border-radius: 0.5rem;

}