.wrapper_bottom {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 0 0 1.5rem;
  display: flex;
  gap: 0.75rem;


  @media(max-width:1024px) {

    flex-wrap: wrap;
    padding: 0;

  }

  .wrapper_navigation {
    display: flex;


    .wrapper_link-navigation {
      display: flex;

      .navigation_text {
        font-size: 1rem;
        padding: 0.375rem 0.875rem 0.375rem 0.875rem;
        white-space: nowrap;
        color: $grey-txt;



        .padding-text--left {
          padding: 0.375rem 0.625rem 0.375rem 0;
        }



        &:hover {
          color: $blue-txt;
          cursor: pointer;
          transition: color 0.3s ease-in-out;
        }


        @media(max-width:830px) {

          padding: 0.375rem 0.875rem 0.375rem 0;

        }

      }

    }

    @media(max-width:768px) {

      flex-wrap: wrap;
    }

    .trait_text {
      padding: 0.375rem 0;
      color: $grey-txt;

      @media(max-width:830px) {

        padding: 0.375rem 0.875rem 0.375rem 0;

      }

    }

  }

  .wrapper_navigation-bottom {
    display: flex;
    gap: 8px;
    padding: 0.375rem 0.875rem;
    cursor: pointer;
    color: $grey-txt;

    .padding-none-pn {
      padding: 0;

    }

    @media(max-width:830px) {

      padding: 0.375rem 0.875rem 0.375rem 0;
    }

    &:hover {
      color: $blue-txt;
      transition: color 0.3s ease-in-out;
    }
  }
}