.wrapper_bottom {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 0 0 1.5rem;
  display: flex;
  gap: 0.75rem;

}

@media(max-width:1024px) {
  .wrapper_bottom {
    flex-wrap: wrap;
    padding: 0;
  }
}



.wrapper_navigation {
  display: flex;

}

@media(max-width:768px) {
  .wrapper_navigation {
    flex-wrap: wrap;

  }
}

.wrapper_link-navigation {
  display: flex;

}

.navigation_text {
  font-size: 16px;
  padding: 6px 14px 6px 14px;
  white-space: nowrap;
  color: var(--txt-grey);

}

@media(max-width:830px) {
  .navigation_text {
    padding: 6px 14px 6px 0;
  }
}

.trait_text {
  padding: 0.375rem 0;
}

@media(max-width:830px) {
  .trait_text {
    padding: 6px 14px 6px 0;
  }
}

.padding-none {
  padding: 0;
}

.padding-text--left {
  padding: 0.375rem 0.625rem 0.375rem 0;
}

.navigation_text:hover {
  color: var(--primary);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.wrapper_navigation-bottom {
  display: flex;
  gap: 8px;
  padding: 0.375rem 0.875rem;
}

@media(max-width:830px) {
  .wrapper_navigation-bottom {
    padding: 6px 14px 6px 0;
  }
}